<%= form_with(model: tronc_record, local: true) do |form| %>
  <% if tronc_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tronc_record.errors.count, "error") %> prohibited this tronc_record from being saved:</h2>

      <ul>
        <% tronc_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gross_tips %>
    <%= form.number_field :gross_tips, autofocus: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
