<div class="form-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2>New Tronc Record</h2>
</div>
<%= form_for(@tronc_record, local: true) do |form| %>
  <div class="form-content">

    <% if @tronc_record.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tronc_record.errors.count, "error") %> prohibited this @tronc_record from being saved:</h2>
        <ul>
          <% @tronc_record.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @reports.length == 0 %>
      <div class="field">
        <p>The date you choose should be the last day of the first week you would like to start the application. For example.. If you count all the tips collected between Sunday and Saturday and want to start the application from the latest week, then your week end is <%= @last_saturday.strftime("%a #{@last_saturday.day.ordinalize} %b %y") %>. After this the dates will be automated!</p>
        <%= form.label :week_end %>
        <%= form.select(:week_end, options_for_select(@months_array, @last_saturday), {}, { :class => 'select_week' }) %>
      </div>
    <% end %>
    <p>Please check the staff list and the date before submitting new record.
      <br>
      <span class="list">
        <% @employees.each do |e| %>
          <strong><%= e.name %>, </strong>
        <% end %>
      </span>
      <br>
      <%= link_to "Change Employees", employees_path, class: ''  %>
    </p>
    <div class="field" tabindex="-1">
      <i class="fa fa-calendar-alt"></i>
      <input type="text" value="<%= @this_week_start %> - <%= @this_week_end %>" disabled>
    </div>
    <div class="field" tabindex="1">
      <i class="fa fa-pound-sign"></i>
      <%= form.number_field :gross_tips, placeholder: 'Gross Tips' %>
    </div>
    <div class="actions">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
