<p id="notice"><%= notice %></p>
<p>
  <strong>Week ending:</strong>
  <%= @tronc_record.week_end %>
</p>

<p>
  <strong>Gross tips:</strong>
  <%= @tronc_record.gross_tips %>
</p>

<p>
  <strong>Tax due:</strong>
  <%= @tronc_record.tax_due %>
</p>

<% @tronc_record.employee_records.each do |er| %>
  <p>
    <strong><%= er.employee.name %></strong>
    <%= er.tips %>
  </p>
<% end %>

<%= link_to 'Edit', edit_tronc_record_path(@tronc_record) %> |
<%= link_to 'Back', tronc_records_path %>
