<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">New Employee</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= form_for(@employee, local: true) do |form| %>
  <div class="modal-body">

    <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this @employee from being saved:</h2>
        <ul>
          <% @employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :active %>
      <%= form.check_box :active, { checked: 'checked' } %>
    </div>

  </div>
  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
