<div class="form-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2>New Employee</h2>
</div>
<%= form_for(@employee, local: true) do |form| %>
  <div class="modal-body">

    <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this @employee from being saved:</h2>
        <ul>
          <% @employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field" tabindex="1">
      <i class="fa fa-user"></i>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :active %>
      <%= form.check_box :active, { checked: 'checked' } %>
    </div>

  </div>
  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
