<section class="header">
  <h2>Employees</h2>
</section>
<section class="content">
  <% if @employees.length > 0 %>
    <table class="employees">
      <thead>
        <tr>
          <th>Employee</th>
          <th class="active">Active</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <% if employee.active %>
              <td class="active"><i class="fa fa-check-circle"></i></td>
            <% else %>
              <td class="active"><i class="fa fa-times-circle"></i></td>
            <% end %>
            <td class="controls">
              <%= link_to edit_employee_path(employee), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to employee, method: :delete, data: { confirm: 'Are you sure? You cannot undo this operation!' } do %>
              <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      You don't currently have any employees. Please add employees.
    </p>
  <% end %>
  <%= link_to "New Employee", new_employee_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %>
  <% if current_user.reports.length == 0 && @employees.length > 0 %>
    <%= link_to "Back To Setup", :setup_path, class: "btn btn-primary btn-lg" %>
  <% end %>
  <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>
</section>
