<div class="form-grand-parent">
  <div class="form-parent">
    <div class="devise-form">
      <div class="form-header reg">
        <h2 class="selected">Register</h2>
        <h2 class="not-selected">
        <%= link_to new_user_session_path do %>
        Sign In
        <% end %>
        </h2>
      </div>
      <div class="form-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%#= render "devise/shared/error_messages", resource: resource %>

          <div class="field" tabindex='1'>
            <i class="fa fa-user"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
          </div>

          <div class="field" tabindex='2'>
            <i class="fa fa-lock"></i>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
          </div>

          <div class="field" tabindex='3'>
            <i class="fa fa-lock"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password' %>
          </div>

          <div class="actions">
            <%= f.submit "Register", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>











