<div class="form-grand-parent">
  <div class="form-parent">
    <div class="devise-form">
      <div class="form-header reg">
        <h2 class="not-selected">
        <%= link_to new_user_registration_path do %>
        Register
        <% end %>
        </h2>
        <h2 class="selected">Sign In</h2>
      </div>
      <div class="form-content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field" tabindex="1">
            <i class="fa fa-user"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
          </div>

          <div class="field pass-field" tabindex="2">
            <i class="fa fa-lock"></i>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
          </div>


          <div class="actions">
            <%= f.submit "Sign In", class: 'btn btn-primary' %>
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
            <%= link_to 'Forgot your password?', new_user_password_path(resource) %>
          </div>
        <% end %>
        <%#= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
