<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Gross tips</th>
      <th>Tax due</th>
      <th>Net tips</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= Date::MONTHNAMES[report.month] %></td>
        <td><%= report.year %></td>
        <td><%= report.gross_tips %></td>
        <td><%= report.tax_due %></td>
        <td><%= report.net_tips %></td>
        <td><%= link_to 'Show', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>
