<section class="header">
  <h1><%= @report.report_start.strftime("%B %Y") %></h1>
</section>
<section class="content">
  <table>
    <tr>
      <th>Week Ending</th>
      <th>Gross Tips</th>
      <th>Tax Due</th>
      <th>Net Tips</th>
    </tr>
    <% @report.tronc_records.each do |tr| %>
      <tr>
        <td><%= tr.week_end.strftime("%a #{tr.week_end.day.ordinalize} %b") %></td>
        <td>£<%= tr.gross_tips %></td>
        <td>£<%= calc_vat(tr.gross_tips) %></td>
        <td>£<%= calc_net(tr.gross_tips) %></td>
      </tr>
    <% end %>
      <tr>
        <th>TOTALS</th>
        <th>£<%= @report.gross_tips %></th>
        <th>£<%= calc_vat(@report.gross_tips) %></th>
        <th>£<%= calc_net(@report.gross_tips) %></th>
      </tr>
    </table>
  <br>
  <h3>Employees Total Net Tips</h3>
  <ul>
    <% @employees.each_pair do |e, r| %>
      <li><strong><%= e.name %></strong> received total of:
        <% t = 0 %>
        <% r.each do |r| %>
          <% t += r.tips %>
        <% end %>
        £<%= t %>
      </li>
    <% end %>
  </ul>

  <% @employees.each_pair do |e, r| %>
  <h5><%= e.name %></h5>
  <table>
    <tr>
      <th>Week End</th>
      <th>Gross Tips</th>
      <th>VAT</th>
      <th>Net Tips</th>
    </tr>
    <% r.each do |r| %>
    <tr>
      <td><%= r.week_end.strftime("%a #{r.week_end.day.ordinalize} %b") %></td>
      <td>£<%= r.tips * 1.2 %></td>
      <td>£<%= (r.tips * 1.2) - r.tips %></td>
      <td>£<%= r.tips %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</section>
