<div class="reports-parent">
  <div class="reports-container">
    <section class="header">
      <h1><%= @report.report_start.strftime("%B %Y") %></h1>
    </section>
    <section class="content">
  <% if @report.tronc_records.length == 0 %>
    <p>You don't have any records for this month yet!</p>
  <% elsif @report.completed == false  %>
    <p>Below you can see the tronc records entered for the current period. Once the report is complete, please come back to see the finished report, which will give you the options to send results to your accountant and arrange payment to HMRC</p>
  <% else %>
    <p>
      The report for this period is now complete, please arrange payment to HMRC for <strong>£<%= @report.tax_due %></strong> as soon as possible.
      <br><%= @report.user.email %>
      <br>
      <div data-controller="clipboard members dashboard">
        <input class="tax-code" type="text" data-target="clipboard.source" value="475PD00935391" readonly>
        <button data-action="clipboard#copy" class="clipboard-button btn btn-secondary">
          Copy Code
        </button>
        <br>
        <br>
        <%= link_to "Pay HMRC", 'https://www.tax.service.gov.uk/pay/5d9048c3210000f946870f4e/choose-a-way-to-pay', target: 'blank', class: "btn btn-primary" %>
        <%= link_to "PDF Report", report_path(@report, format: :pdf), target: 'blank', class:"btn btn-primary" %>
      </div>
    </p>
  <% end %>
  <% if @report.tronc_records.length > 0  %>
  <table>
    <tr>
      <th>Week Ending</th>
      <th>Gross Tips</th>
      <th>Tax Due</th>
      <th>Net Tips</th>
    </tr>
    <% @report.tronc_records.each do |tr| %>
      <tr>
        <td><%= tr.week_end.strftime("%a #{tr.week_end.day.ordinalize} %b") %></td>
        <td>£<%= tr.gross_tips %></td>
        <td>£<%= tr.tax_due %></td>
        <td>£<%= tr.gross_tips - tr.tax_due %></td>
      </tr>
    <% end %>
    <% end %>

    <!-- Totals only shown if report is complete -->
    <% if @report.completed %>
      <tr>
        <th>TOTALS</th>
        <th>£<%= @report.gross_tips %></th>
        <th>£<%= @report.tax_due %></th>
        <th>£<%= @report.net_tips %></th>
      </tr>
    <% end %>
  </table>
  <br>

  <!-- The results below are shown only once the period is over -->
  <% if @report.completed %>

  <!-- Employee net tips received -->
  <h3>Employees Net Tips Received</h3>
  <ul>
    <% @employees.each_pair do |e, r| %>
      <li><strong><%= e.name %></strong> received total of:
        <% t = 0 %>
        <% r.each do |r| %>
          <% t += r.tips %>
        <% end %>
        £<%= t %>
      </li>
    <% end %>
  </ul>
  <% end %>
  <!-- Can only add a new record if report is incomplete -->
  <% if @report.completed == false %>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      New Record
    </button> -->
    <%#= link_to "New Record", new_tronc_record_path, class: 'btn btn-primary'  %>
    <%= link_to "Add Record", new_tronc_record_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %>
    <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content devise-form">

        </div>
      </div>
    </div>
  <% end %>
</section>

