<section class="header">
  <h1><%= @report.report_start.strftime("%B %Y") %></h1>
  <h4 style="text-align: center;"><%= @report.user.email %></h4>

</section>
<section class="content">
  <h2>Weekly Records</h2>
  <table style="border-collapse: collapse; margin: 8px auto 16px auto;">
    <tr>
      <th>Week Ending</th>
      <th>Gross Tips</th>
      <th>Tax Due</th>
      <th>Net Tips</th>
    </tr>
    <% @report.tronc_records.each do |tr| %>
      <tr>
        <td><%= tr.week_end.strftime("%a #{tr.week_end.day.ordinalize} %b") %></td>
        <td>£<%= tr.gross_tips %></td>
        <td>£<%= calc_vat(tr.gross_tips) %></td>
        <td>£<%= calc_net(tr.gross_tips) %></td>
      </tr>
    <% end %>
      <tr>
        <th>TOTALS</th>
        <th>£<%= @report.gross_tips %></th>
        <th>£<%= calc_vat(@report.gross_tips) %></th>
        <th>£<%= calc_net(@report.gross_tips) %></th>
      </tr>
    </table>

  <br>
  <hr>

  <h2>Employee Records</h2>
  <% @employees.each_pair do |e, r| %>
  <% t = 0 %>
  <div style="page-break-inside: avoid;">
    <table style="border-collapse: collapse;">
      <h3 style="text-align:center;"><%= e.name %></h3>
      <tr>
        <th>Week End</th>
        <th>Gross Tips</th>
        <th>Tax DUe</th>
        <th>Net Tips</th>
      </tr>
      <% r.each do |r| %>
      <% t += r.tips %>
      <tr>
        <td><%= r.week_end.strftime("%a #{r.week_end.day.ordinalize} %b") %></td>
        <td>£<%= r.tips %></td>
        <td>£<%= calc_vat(r.tips) %></td>
        <td>£<%= calc_net(r.tips) %></td>
      </tr>
      <% end %>
      <th>Totals</th>
      <th>£<%= t %></th>
      <th>£<%= calc_vat(t) %></th>
      <th>£<%= calc_net(t) %></th>
    </table>
  </div>
    <% end %>
</section>
