<p id="notice"><%= notice %></p>

<section class="header">
  <h1><%= Date::MONTHNAMES[@report.month] %> <%= @report.year %></h1>
</section>
<section class="content">
  <% if @report == Report.first %>
    <p>Below you can see the tronc records entered for the current period. Once the report is complete, please come back to see the finished report, which will give you the options to send results to your accountant and arrange payment to HMRC</p>
  <% else %>
    <p>
      The report for this period is now complete, please check over the information below and proceed to arrange payment to HMRC for <strong>£<%= @report.tax_due %></strong> as soon as possible.
      <br>
      <div data-controller="clipboard members dashboard">
        <input class="tax-code" type="text" data-target="clipboard.source" value="475PD00935391" readonly>
        <button data-action="clipboard#copy" class="clipboard-button btn btn-secondary">
          Copy Code
        </button>
        <%= link_to "Pay HMRC", 'https://www.tax.service.gov.uk/pay/5d883a1e210000d90c364a87/enter-details', class: "btn btn-primary" %>
        <%= link_to "Email Report", 'reports/print_pdf', class:"btn btn-primary" %>
      </div>
    </p>
  <% end %>
  <table>
    <tr>
      <th>Week Ending</th>
      <th>Gross Tips</th>
      <th>Tax Due</th>
      <th>Net Tips</th>
    </tr>
    <% @report.tronc_records.each do |tr| %>
      <tr>
        <td><%= tr.week_end.strftime("%a #{tr.week_end.day.ordinalize} %b") %></td>
        <td>£<%= tr.gross_tips %></td>
        <td>£<%= tr.tax_due %></td>
        <td>£<%= tr.gross_tips - tr.tax_due %></td>
      </tr>
    <% end %>

    <!-- Totals only shown if report is complete -->
    <% if @report != Report.first %>
      <tr>
        <th>TOTALS</th>
        <th>£<%= @report.gross_tips %></th>
        <th>£<%= @report.tax_due %></th>
        <th>£<%= @report.net_tips %></th>
      </tr>
    <% end %>
  </table>
  <br>

  <!-- The results below are shown only once the period is over -->
  <% if @report != Report.first %>

  <!-- Employee net tips received -->
  <h3>Employees Net Tips Received</h3>
  <ul>
    <% @employees.each_pair do |e, r| %>
      <li><strong><%= e.name %></strong> received total of:
        <% t = 0 %>
        <% r.each do |r| %>
          <% t += r.tips %>
        <% end %>
        £<%= t %>
      </li>
    <% end %>
  </ul>
  <% end %>
  <!-- Can only add a new record if report is incomplete -->
  <% if @report == Report.first %>
    <%= link_to "New Record", new_tronc_record_path, class: 'btn btn-primary'  %>
  <% end %>
</section>
