

<div class="navbar">
  <h3 class="logo">TroncSystem.com</h3>
  <% if current_user %>
  <span>Welcome <%= current_user.email %></span>
  <div class="nav">
    <div class="nav-links">
      <%= link_to 'Employees', employees_path  %>
      <%= link_to 'Reports', reports_path %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
      <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
    </div>
  </div>
</div>
