<!DOCTYPE html>
<html>
  <head>
    <title>TroncApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content devise-form">

        </div>
      </div>
    </div>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong> <%= notice %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> <%= alert %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% elsif flash[:success] %>
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong> <%= success %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
  </body>
</html>

