<!DOCTYPE html>
<html>
  <head>
    <title>TroncApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <% if flash[:notice] %>
      <p class="alert alert-success" role="alert"><%= notice %></p>
    <% elsif flash[:alert] %>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
